<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- node 개발 할때 그냥 링크만으로는 접근이 불가 app.js에서 미들웨어로 등록해야한다 app.js 이동 -->
    <script src="/js/home/login.js"></script>
    <title>Document</title>
</head>
<body>
<input type="text" placeholder="아이디" /><br /> <input type="text" placeholder="비밀번호" /><br />
<button>로그인</button>
</body>
</html>
